<div class="container">
    
        <div class="col-md-12">
            <h2>Pet profile</h2>
        </div>
        <div class="col-md-12">
            <label>
            Pet name:
            <input class="form-control" type="text" (change)="updateName($event.target.value)">
        </label>
        <br>
        <label>
            Pet Image:
            <input class="form-control" type="url" (change)="updateImage($event.target.value)">
        </label>
        </div>
        <div class="col-md-12"><br>
        <h3>Pet name: {{petName}}</h3>
        <img [src]="petImage" width="300px" height="250px">
        </div>
</div>